# Server Configuration
PORT=8060
DEV=true
ENABLE_DOCS=true

# Database Configuration (PostgreSQL)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/store_order?schema=public

# Apache Kafka Configuration
KAFKA_BROKERS=localhost:9092

# Product Microservice Integration
PRODUCT_SERVICE_URL=http://localhost:8040

# Midtrans Payment Gateway Configuration
MIDTRANS_SERVER_KEY=SB-Mid-server-sample-key
MIDTRANS_CLIENT_KEY=SB-Mid-client-sample-key
MIDTRANS_IS_PRODUCTION=false
